In [ ]:
# importing the required libraries

import pandas as pd

In [ ]:
# reading the dataset 

df = pd.read_csv("data.csv")

In [ ]:
# viewing the first few rows using head

df.head()

In [ ]:
# selecting a single column by name

df['Bare_Nuclei']

In [ ]:
# Selecting muliple columns using column names

df[['Clump_Thickness','Marginal_Adhesion']]

In [ ]:
# selecting rows by their positions

df.iloc[:3]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2
5,1017122,8,10,10,8,7.0,10,9,7,1,4
6,1018099,1,1,1,1,2.0,10,3,1,1,2

In [ ]:
# selecting columns by their positions  iloc [ range is for the rows,  range is for the columns]

df.iloc[:,:3]   


[:,:3]

          ID  Clump_Thickness  Cell_Size_Uniformity
0    1000025                5                     1
1    1002945                5                     4
2    1015425                3                     1
3    1016277                6                     8
4    1017023                4                     1
..       ...              ...                   ...
694   776715                3                     1
695   841769                2                     1
696   888820                5                    10
697   897471                4                     8
698   897471                4                     8

[699 rows x 3 columns]

In [ ]:
Subsetting the data based on some columns

dataframe[dataframe["column_name"] == 2]


df[df['Cancer_Type']==2].shape